[submodule "iterm2/themes/spaceship-prompt"]
	path = iterm2/themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "vim-local-plugin"]
	path = vim-local-plugin
	url = git@github.com:cythb/vim-local-plugin.git
